@model FrontEnd.Models.ProveedorViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Seguro que quieres borrar este registro?</h3>
<div>
    <h4>ProveedorViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoArchivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoArchivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(Model=>Model.CodProveedor)
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
